ul.jslides {
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
	overflow: hidden;
}

ul.jslides li {
	position: absolute;
	background-color: black;
	height: 100%;
	width: 100%;
}

ul.jslides li img {
	display: block;
}

ul.jslides li .title, ul.jslides li .caption {
	position: absolute;
}

ul.jslides li .title {
	top: 5px;
	left: 5px;
	color: white;
	text-shadow: 1px 1px 3px black;
	font-weight: bold;
}

ul.jslides li .caption {
	bottom: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	width: 100%;
}

ul.jslides li .caption p {
	margin: 10px;
}

ul.jslides li.active {
	z-index: 99;
}

ul.jslides li.next {
	z-index: 98;
}

.jthumbs {
	position: relative;
}

.jthumbs-scroller {
	overflow: hidden;
}

.jthumbs ul {
	margin: 0px;
	padding: 10px 25px;
	overflow: hidden;
}

.jthumbs img {
	max-width: 100px;
	max-height: 50px; 
	display: block;
	opacity: 0.5;
}

.jthumbs li {
	float: left;
	list-style: none;
	padding: 0 5px;
}

.jthumbs li.active img {
	opacity: 1;
}

.jthumbs-left, .jthumbs-right {
	height: 100%;
	width: 20px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
}

.jthumbs-left { left: 0; }
.jthumbs-right { right: 0; }
